name: pr

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  validate-pr-title:
    name: "Validate PR title"
    runs-on: ubuntu-latest
    steps:
      - name: "Validate PR title follows Conventional Commit format"
        uses: amannn/action-semantic-pull-request@v3.4.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
